{% extends 'main/base.html' %}


{% block title %}
Book Database
{% endblock %}

{% block extrahead %}


{% endblock %}

{% block content %}
<h2>Comments</h2>
<!--comments-->
<!-- <div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto"> -->
				<!--display comment-->
				<!-- <div class='media-list'>
					<div>
						<img class="avatar avatar-sm mr-4" src="https://upload.wikimedia.org/wikipedia/commons/6/67/User_Avatar.png">

						<div class="media-body">
							<div class="small-1">
								<b>user</b>
								<time class="ml-4 opacity-70 small-3"> time here</time>
							</div>
							<p>Content Here</p>
						</div>
					</div>
				</div> -->
				<!--display comment form-->
				<!-- <form method="POST" action="{% url 'comment' slug=post.slug %}">
					{% csrf_token %}
					<div class="form-group">
						{{form}}
					</div>
					<button class="btn btn-primary btn-block" type="submit">Submit</button>

				</form>
			</div>
		</div>
	</div>
</div> -->

{% endblock %}
